
body {
    background-color: azure;
}

h3{
    font-size: 20px;
    color:midnightblue;
}

li{
    color:rosybrown;
    font-size: 18px;
    list-style-position: inside;
  
}
p{
    font-size: 18px;
}

.main-text {
    font-size: 40px;
    color: darkslategrey;
}

.position-text {
    font-size: 20px;
    color: darkslategrey; 
    text-align: center;  
}

.pages-text{
    text-align: center;
}